.greeting_page {
  width: 100%;
  min-height: 95vh;
  color: white;
}

#grid_container {
  max-height: 95vh;
}

#link_icons {
  height: 6vh;
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
  .primary_gradient {
    height: 200vh;
  }
  .style_vl {
    display: none;
  }
  #link_icons {
    display: none;
  }
}

.style_vl {
  border-right: #5eead4 solid 2px;
  height: 25vh;
  bottom: 0vh;
  right: 2.1rem;
}

@media screen and (max-height: 1100px) {
  #link_icons {
    transform: translateY(-2vh);
  }
}
