#home {
  min-height: calc(100vh - 5rem);
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
  .primary_gradient {
    height: 200vh;
  }
  .style_vl {
    display: none;
  }
  #link_icons {
    display: none;
  }
}

@media screen and (max-height: 1100px) {
  #link_icons {
    transform: translateY(-2vh);
  }
}
