@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
  padding: 0;
}

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Code Pro", monospace;
  background-color: #131a2b;
  margin: 0;
  padding: 0;
}

.text_style1 {
  font-family: "Source Code Pro", monospace;
}

.text_style2 {
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 768px) {
  .md_hidden {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .md_displayed {
    display: none;
  }
}

.hover_scale {
  transition: all 200ms ease-in-out 0s;
}

.hover_scale:hover {
  transform: scale(1.15);
}
